@page
@model BugTrackerFrontend.Pages.Bugs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bug[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bug[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bug[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bug[0].ReportedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bug) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BugId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BugId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
